.title {
  margin-top: 30px;
  text-align: left;
  font-size: 2.0rem;
}

.grid-container {
  margin-top: 50px;
  margin-bottom: 75px;
}

.grid-header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  gap: 4px;
  grid-auto-rows: minmax(30px, auto);
  justify-content: center;
  text-align: left;
}

.grid-header > div {
  padding: 1em;
  font-size: 0.8rem;
}

.grid-header > .header {
  background: #336699;
  color: white;
}

.grid-row {
  display: grid;
  margin-top: 4px;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  gap: 4px;
  grid-auto-rows: minmax(30px, auto);
  justify-content: center;
  text-align: left;
  border-bottom: 1px solid black;
}

.grid-row {
  font-size: 0.8rem;
}

.grid-row > .grid-detail {
  padding: 1em;
}

.grid-row:nth-child(odd) {
  background: 'pink';
}
